# Environment variables
.env
*.env
.env.*
!.env.example

# Operating System files
.DS_Store
Thumbs.db

# Docker / Build artifacts
docker-data/
pgdata/
miniodata/
vaultdata/
backend/compliancetracker_server

# Go build / dependencies
backend/vendor/
backend/*.exe
backend/*.test

# Node / Frontend dependencies
frontend/node_modules/
frontend/dist/
frontend/.env*
frontend/.eslintcache
frontend/.pnp.*
frontend/build/
frontend/coverage/
frontend/*.log*
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# IDE / Editor files
.idea/
.vscode/
*.swp
*~